body {
  background-color: lightblue;
}

button {
  color: red;
}

p {
  font-size: 20px;
}

h2 {
  color: blue;
}

ul {
  list-style: square;
}

li {
  margin: 5px;
}

header {
  background-color: black;
  color: white;
}
